{
    "EMAIL": "email",
    "PASSWORD": "password",
    "GITHUB_USERNAME": "githubUsername",
    "GITHUB_PASSWORD": "githubPassword",
    "UNCONFIRMED_EMAIL": "unconfirmedEmail",
    "UNCONFIRMED_PASSWORD": "unconfirmedEmailPassword"
}
